* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

.download-btn-container {
    text-align: center;
    margin: 15px;
}